
.passwordInputContainer {
    margin-bottom: 20px;
}

.passwordInputWrapper {
    position: relative;
}

.passwordInputField {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #cccccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}
.passwordInputField:focus {
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
.passwordInputField:focus + .inputLabel, .inputField:not(:placeholder-shown) + .inputLabel {
    font-size: 14px;
    margin-bottom: 12px;
    color: #2980b9;
    transition: all 0.3s ease-in-out;
}
.passwordLabel{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
}
.passwordToggleButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

/* Стили для иконок */
.passwordToggleButton svg {
    vertical-align: middle;
}

/* Дополнительные стили для улучшения внешнего вида кнопки */
.passwordToggleButton:hover {
    color: #333;
}
