.change-phone__container{
    padding: 15px;
    width: 100%;
}
.change-phone__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.change-phone__input{
    padding: 15px;
    line-height: 2.5;
}
.change-phone__error{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}