.public-work__wrapper{
    width: 100%;
    min-height: 51.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.public-work__search-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.public-work__search{
    display: flex;
    align-items: center;
    padding: 5px;
}
.public-work__search p {
    margin-right: 10px;
    font-size: 18px;
}
.public-work__empty{
    width: 100%;
    min-height: 51.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}