.subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.subscribe-headers {
    width: 100%;
}

.subscribe-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subscribe-image {
    width: 500px;
    height: 500px;
}

.subscribe-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subscribe-details {
    font-size: 18px;
}

.subscribe-error-container{
    width: 100%;
    text-align: center;
    color: #03DE75;
    font-weight: bold;
}