.selectContainer {
    position: relative;
    width: 100%;
}

.mySelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}
