.textAreaContainer {
    width: 350px;
    max-width: 600px;
    margin: 0 auto;
}

.label {
    font-size: 18px;
    font-weight: bold;
}

.textArea {
    width: 100%;
    height: 150px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 5px;
}

.textArea:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
