.employeeItemContainer{
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    justify-content: space-between;
    width: 90%;
    margin: 5px;
}
.employeeItemImageContainer{
    width: 30%;
}
.employeeItemImage{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.employeeItemInfoContainer{
    line-height: 1.5;
    width: 50%;
    font-size: 18px;
    text-align: left;
}
.employeeItemButtonsContainer{
}
.employeeItemButton{
    padding: 5px;
}