.filterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 250px;
}
.filterFields{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.filterFieldsLabel{
    margin-bottom: 3px;
    font-size: 18px;
}
.filterButton{
    padding: 10px;
}