.changePassword__password{
    display: none;
}
.changePassword__password.active {
    display: flex;
}
.changePassword__confirm.active {
    display: flex;
}
.changePassword__confirm{
    display: none;
}