.change-password__password{
    display: none;
}
.change-password__password.active {
    display: flex;
}
.change-password__confirm.active {
    display: flex;
}
.change-password__confirm{
    display: none;
}